
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Open+Sans:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Abyssinica SIL', serif;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url(../images/R.jpg);
    background-position: center;
    background-size:cover;
    padding-left:5%;
    padding-right:5%;
    
}

header{
    width: 100%;
    height: 15vh;
    margin:auto;
    display: flex;
    align-items: center;
}
.logo{
    width:160px;
    cursor:pointer;
}

nav{
    flex:1;
    padding-left: 60px;
}

nav ul li{
    display:inline-block;
    list-style: none;
    margin:0px 20px;
}

nav ul li a{
    text-decoration: none;
    
}

.content h1 {
    font-size:60px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 15px;   
}

.content p{
    font-size:20px;
    color:black;
}

.myImage{
    height:50%;
    position:absolute;
    bottom:50px;
    right:160px;
}