/*
    
*/

.block{
    background-color: #d69fe9;
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 20px solid blue;
    box-sizing: border-box;
}

.static{
    position:static;
    border: 3px solid green;
    top: 700px;
    left: 700px;
}

.absolute{
    position:absolute;
    border: 3px solid red;
    top:400px;
    left:500px;
    width:50px;
    height:50px;
}

.relative{
    position:relative;
    border: 3px solid pink;
    top:400px;
    left:500px;
    width:200px;
    height:200px;
}

.fixed{
    position:fixed;
    border: 3px solid yellow;
    top:150px;
    left:100px;
    
}